---
import { getCollection } from "astro:content"
import CommonLayout from "../layouts/CommonLayout.astro";
import "../styles/fonts.css";

const logEntries = await getCollection("logs");
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <CommonLayout>
    {logEntries.map((log) =>(
      <>
        <a href={`/logs/${log.slug}`}>
          <div class="space-y-2">
            <h1 class="text-2xl font-medium">{log.data.title}</h1>
            <div>
              <time class="text-lg" datetime="2024-08-09">2024-08-09</time>
              <p class="text-lg italic">{log.data.subtitle}</p>
            </div>
          </div>
        </a>
        <hr class="my-6"/>
      </>
    ))}
  </CommonLayout>
</html>
