---
import { getCollection } from "astro:content"
import CommonLayout from "../layouts/CommonLayout.astro";
import "../styles/fonts.css";

const logs = await getCollection("logs");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <CommonLayout>
  <h1 class="text-3xl">ないようないようないよう</h1>
  {logs.map(v => (
    <p>{v.id}</p>
  ))}
  </CommonLayout>
</html>
