---
import CommonHtml from "@/layouts/CommonHtml.astro";
import CommonHead from "@/layouts/CommonHead.astro";
import CommonBody from "../layouts/CommonBody.astro";
import LogCard from "@/components/LogCard.astro";
import Title from "@/components/Title.astro";
import Ogp from "@/components/Ogp.astro";
import { getCollection } from "astro:content";

const logEntries = (await getCollection("logs")).slice(0, 15);
const filterdEntries = logEntries.filter((v) => !v.data.draft);
const sortedEntries = filterdEntries.toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<CommonHtml>
  <CommonHead>
    <Title/>
    <Ogp/>
  </CommonHead>
  <CommonBody>
    {sortedEntries.map((log) =>(<LogCard slug={log.slug} title={log.data.title} subtitle={log.data.subtitle} date={log.data.date}/>))}
    <div class="flex justify-center">
      <a href="/logs">すべてのログを見る</a>
    </div>
  </CommonBody>
</CommonHtml>
