---
import { RiExternalLinkLine } from "@remixicon/react";

interface Props{
  title: string,
  href: string,
  external?: boolean
}

const { title, href, external = false } = Astro.props;
---

<a href={href} class="font-medium inline-flex items-center underline" target={external?"_blank":"_self"} rel="noopener noreferrer">
  {title}
  {external && (<RiExternalLinkLine size={16}/>)}
</a>
